/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align text in body */
}

/* Header */
h1, h2 {
    color: #343a40;
    margin: 0;
    padding: 0.5em 0;
}

/* Forms */
form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text in forms to the left */
}

/* Form Elements */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input, button, select {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center; /* Center-align text in tables */
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 12px;
    vertical-align: middle;
}

th {
    background-color: #f8f9fa;
    color: #495057;
    font-weight: bold;
}


input:focus, select:focus, textarea:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


nav a {
    color: #007bff;
    text-decoration: none;
    padding: 0.5em;
    display: inline-block;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
